# Ignorar entorno virtual
venv/

# Ignorar archivos de configuración de IDE (por ejemplo, VSCode)
.vscode/

# Ignorar archivos de configuración de Python
__pycache__/

# Ignorar archivos con claves API o contraseñas
.env
